<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinnova.sharedlibrary">

    <application>
        <activity android:name=".utils.views.CustomWebView" />

        <receiver android:name=".notification.NotificationClickReceiver" />
    </application>

</manifest>